<form>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="inputNazwa">Nazwa firmy</label>
        <input type="text" class="form-control" id="inputNazwa" placeholder="Wpisz pełną nazwę firmy...">
      </div>
      <div class="form-group col-md-3">
        <label for="inputNIP">NIP</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="NIP">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="inputAddress">Siedziba firmy</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Ulica">
      </div>
      <div class="form-group col-md-1">
          <label for="inputAddress">Nr domu</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
      <div class="form-group col-md-1">
            <label for="inputAddress">Nr lokalu</label>
            <input type="text" class="form-control" id="inputAddress">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
          <label for="inputZip">Kod pocztowy</label>
          <input type="text" class="form-control" id="inputZip" placeholder="00-000">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">Miasto</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </form>
