<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">ng-faktury</h1>
  <hr>
  <p class="lead">Hej! Czy zapłaciłeś już za swojego WinRARa?</p>
  <p class="lead">Jeśli tak, to zapewne chętnie zapłacisz również za tę wspaniałą aplikację :)</p>
</div>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Za darmo</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Gratis!</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Możesz swobodnie korzystać</li>
          <li>Ile chcesz...</li>
          <li>Jak chcesz...</li>
          <li>Zawsze za friko!</li>
        </ul>
        <a routerLink="/fakturowanie" routerLinkActive="active"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Zapisz się!</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Wersja PRO</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">10zł <small class="text-muted">/ miesiąc</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Również możesz korzystać do woli!</li>
          <li>Zyskujesz uśmiech autora</li>
          <li>Zyskujesz wdzięczność, ale nie dozgonną</li>
          <li>Support... od święta!</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary"><a href="https://www.paypal.com/" target="_blank">Kup teraz</a></button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Wersja LUX</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">30zł <small class="text-muted">/ miesiąc</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Uśmiech od ucha do ucha</li>
          <li>Dozgonna wdzięczność</li>
          <li>Support 24 na 7!</li>
          <li>Stałe miejsce w sercu autora</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary"><a href="https://www.paypal.com/" target="_blank">Kup teraz</a></button>
      </div>
    </div>
  </div>
