<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">LP</th>
      <th scope="col" style="width: 26%">Pozycja</th>
      <th scope="col" style="width: 2%">Ilość</th>
      <th scope="col" style="width: 3%">Jednostka</th>
      <th scope="col" style="width: 15%">Netto</th>
      <th scope="col" style="width: 7%">Rabat</th>
      <th scope="col" style="width: 15%">Netto po rabacie</th>
      <th scope="col" style="width: 7%">Podatek</th>
      <th scope="col" style="width: 15%">Brutto</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <app-pojedyncza-pozycja
      *ngFor="let pozycja of pozycje; let index = index"
      [pozycja]=pozycja
      [lp]= index+1
      (pozycjaZmieniona)=przechwycZmianePozycji($event)
      (pozycjaUsunieta)=usunPozycje($event)
    ></app-pojedyncza-pozycja>
  </tbody>
</table>
<div class="faktura-pozycje__actions">
  <button (click)="dodajPozycje()" type="button" class="btn btn-primary faktura-pozycje__add-action">
    dodaj pozycję
    <i class="fa fa-plus"></i>
  </button>
  <button (click)="dodajPozycje()" type="button" class="btn btn-success faktura-pozycje__add-action">
    Zapisz
    <i class="fa fa-save"></i>
  </button>
</div>