.faktura-pozycje {
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__add-action {
        margin: auto
    }
}
#nrFaktury {
    font-size: 24px;
}
@media print {
    #ukryjPrzyDruku {
        display: none;
    }
}