<table class="table">
  <thead>
    <tr>
      <th scope="col">LP</th>
      <th scope="col">Nazwa pozycji</th>
      <th scope="col">Ilość</th>
      <th scope="col">Jednostka</th>
      <th scope="col">Cena netto</th>
      <th scope="col">Podatek</th>
      <th scope="col">Brutto</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <app-pojedyncza-pozycja
      *ngFor="let pozycja of pozycje; let index = index"
      [pozycja]=pozycja
      [lp]= index+1
      (pozcyjaZmieniona)=przechwycZmianePozycji($event)
      (pozycjaUsunieta)=usunPozycje($event)
    ></app-pojedyncza-pozycja>
  </tbody>
</table>
<div class="faktura-pozycje__actions">
  <button (click)="dodajPozycje()" type="button" class="btn btn-primary faktura-pozycje__add-action">
    dodaj pozycję
    <i class="fa fa-plus"></i>
  </button>
  <button (click)="dodajPozycje()" type="button" class="btn btn-success faktura-pozycje__add-action">
    Zapisz
    <i class="fa fa-save"></i>
  </button>
</div>